// general color
$color-primary:     #ffbb3c;
$color-secondary:   #ffe0a7;
$color-tertiary:    #ffeece;

// background color
$bg-color-primary:   #f7f2e9;
$bg-color-secondary: #fdfaf4;
$bg-color-tertiary:  #e1ddd5;
$bg-color-quaternary:#d0c5b1;

// width
$global-max-width: 960px;